<%- include("include/head.ejs") %>
    </head>

    <body>
        <%-include ("include/nav.ejs")%>
            </ul>
            <%- include ("include/loginOrLogout.ejs")%>
                <div class="section">
                    <h1>You are Unauthorized for this!!!!! </h1>
                </div>
    </body>

    </html>