input[type=text] {
    padding: 15px 0px;
    padding-left: 5px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: none;
    width: 100%;
}
.palce-image img{
    width: 450px;
    height: 225px;
}
.section *{
    text-align: center;
}