body {
    font-family: Calibri, Helvetica, sans-serif;
    background-color: rgb(214, 214, 214);
}
.login-form form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 30%;
    padding: 50px;
    background-color: rgb(27, 181, 228);
}

input[type=text],
input[type=password],
textarea {
    width: 100%;
    padding: 15px 0px;
    padding-left: 5px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: rgb(233, 206, 206);
    outline: none;
}

div {
    padding: 10px 0;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}